<h2>NEW CHICKEN</h2> 

<div class = 'row'>
  <form (ngSubmit)="onSubmit()">
    <div class = 'column'>
      Name: <br><input [(ngModel)]="chicken.name" name = "chickenName"/>  
      <br><br>
      
      Gender:<br> 
      <input type="radio" value="MALE" name="gender" [(ngModel)]="chicken.gender"> Male 
      <input type="radio" value="FEMALE" name="gender" [(ngModel)]="chicken.gender"> Female
      <br><br>

      Weight:<br><input [(ngModel)]="chicken.weight" name = "weight"/>  
      <br><br>
      Pedigree: <br><input [(ngModel)]="chicken.pedigree" name = "pedigree"/>  
      <br><br>
      Birthday: <br><input type="Date" [(ngModel)]="chicken.birthday" name = "birthday"/>  
      <br><br>

      Mode of Transportation:<br>
      <input type="radio" value="SEA" name="modeOfTransportation" [(ngModel)]="chicken.modeOfTransportation"> Sea
      <input type="radio" value="AIR" name="modeOfTransportation" [(ngModel)]="chicken.modeOfTransportation"> Air
      <br><br>

      Date of Exit: <br><input type="Date" [(ngModel)]="chicken.dateOfExit" name = "dateOfExit"/>  
      <br><br>
      Date of Entry: <br><input type="Date" [(ngModel)]="chicken.dateOfEntry" name = "dateOfEntry"/>  
      <br><br>
      Origin Country: <br><input [(ngModel)]="chicken.originCountry" name = "originCountry"/>  
      <br><br>
      Approved by: <br><input [(ngModel)]="chicken.approvedBy" name = "approvedBy"/>  
      <br><br>
      Shipper: <br><input [(ngModel)]="chicken.shipper" name = "shipper"/>  
      <br><br>
      Seller: <br><input [(ngModel)]="chicken.seller" name = "seller"/>  
      <br><br>
      Stop Overs: <br><input [(ngModel)]="chicken.stopovers" name = "stopovers"/>  
      <br><br>
      Location of Entry: <br><input [(ngModel)]="chicken.locationOfEntry" name = "locationOfEntry"/>  
      <br><br>

      <h3> MEDICAL RECORDS </h3>
      <table >
        <thead>
          <tr>
            <th>Vaccine Date</th>
            <th>Vaccine Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let med of meds; let i = index">
            <td>
              <input [(ngModel)]="med.vaccineDate" type="date" name="{{med.vaccineDate}}" />
            </td>
            <td>
              <input [(ngModel)]="med.vaccineType"  name="{{med.vaccineType}}" />
            </td>
            <td>
              <button type="button" (click)="deleteField('med', i)">Delete</button>
            </td>
          </tr>
          <tr>
            <td>
              <input type="date" id="newMedVaccineDate" [(ngModel)]="newMed.vaccineDate" name="newMedVaccineDate" />
            </td>
            <td>
              <input type="text" id="newMedVaccineType" [(ngModel)]="newMed.vaccineType" name="newMedVaccineType" />
            </td>
            <td>
              <button type="button" (click)="addField('med')">Add</button>
            </td>
          </tr>
        </tbody>
      </table>

      <h3> SICKNESSES </h3>
      <table>
        <thead>
          <tr>
            <th>Diagnosis Date</th>
            <th>Sickness Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sickness of sicknesses; let i = index">
            <td>
              <input [(ngModel)]="sickness.diagnosisDate" type="date" name="{{sickness.diagnosisDate}}" />
            </td>
            <td>
              <input [(ngModel)]="sickness.sicknessType"  name="{{sickness.sicknessType}}" />
            </td>
            <td>
              <button type="button" (click)="deleteField('sickness', i)">Delete</button>
            </td>
          </tr>
          <tr>
            <td>
              <input type="date" id="newSicknessDiagnosisDate" [(ngModel)]="newSickness.diagnosisDate" name="newSicknessDiagnosisDate" />
            </td>
            <td>
              <input type="text" id="newSicknessSicknessType" [(ngModel)]="newSickness.sicknessType" name="newSicknessSicknessType" />
            </td>
            <td>
              <button type="button" (click)="addField('sickness')">Add</button>
            </td>
          </tr>
        </tbody>
      </table>

      <h3> FEED DETAILS </h3>
      <table >
        <thead>
          <tr>
            <th>Daily Rotation</th>
            <th>Name</th>
            <th>Feed Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feed of feeds; let i = index">
            <td>
              <input type="date" [(ngModel)]="feed.dailyRotation" name="{{feed.dailyRotation}}" />
            </td>
            <td>
              <input [(ngModel)]="feed.name" name="{{feed.name}}" />
            </td>
            <td>
              <input [(ngModel)]="feed.feedAmount"  name="{{feed.feedAmount}}" />
            </td>
            <td>
              <button type="button" (click)="deleteField('feed', i)">Delete</button>
            </td>
          </tr>
          <tr>
            <td>
              <input type="date" id="newFeedDailyRotation" [(ngModel)]="newFeed.dailyRotation" name="newFeedDailyRotation" />
            </td>
            <td>
              <input type="text" id="newFeedName" [(ngModel)]="newFeed.name" name="newFeedName" />
            </td>
            <td>
              <input type="text" id="newFeedFeedAmount" [(ngModel)]="newFeed.feedAmount" name="newFeedFeedAmount" />
            </td>
            <td>
              <button type="button" (click)="addField('feed')">Add</button>
            </td>
          </tr>
        </tbody>
      </table>

      <br><br>
    </div>
  </form>


  <!-- 
<h3>Medical Records</h3>
      <div *ngFor="let medicalRecord of chicken.medicalRecords">
        <h4>Medical Record {{medicalRecord.id}}</h4>
        Vaccine Date:<input [(ngModel)]="medicalRecord.vaccineDate" name = "vaccineDate"/>  <br>
        Vaccine Type:<input [(ngModel)]="medicalRecord.vaccineType" name = "vaccineType"/>  <br>
      </div>

      <h3>Sicknesses</h3>
      <div *ngFor="let sickness of chicken.sicknesses">
        <h4>Sickness {{sickness.id}}</h4>
        Type:<input [(ngModel)]="sickness.sicknessType" name = "sicknessType"/>  <br>
        Diagnosis Date:<input [(ngModel)]="sickness.diagnosisDate" name = "diagnosisDate"/>  <br>
      </div>

      <h3>Feed Details</h3>
      <div *ngFor="let feedDetail of chicken.feedDetails">
        <h4>Feed Detail {{feedDetail.id}}</h4>
        Name:<input [(ngModel)]="feedDetail.name" name = "feedName"/>  <br>
        Feed Amount:<input [(ngModel)]="feedDetail.feedAmount" name = "feedAmount"/>  <br>
        Daily Rotation:<input [(ngModel)]="feedDetail.dailyRotation" name = "dailyRotation"/>  <br>
      </div>
    -->
  </div>

  <nav>
    <a (click)="goBack()">Back</a>
    <a (click)="save()">Save</a>
  </nav>
